# Use master until this reconnect issue gets sorted
# asyncio-mongo>=0.2.3
git+https://bitbucket.org/mrdon/asyncio-mongo.git#egg=asyncio-mongo
git+git://github.com/mrdon/bottle.git
git+https://bitbucket.org/atlassianlabs/bottle-ac.git@master#egg=fuckyouheroku
# Use asyncio-redis fork bad handling of connection timeouts
git+git://github.com/mrdon/asyncio-redis.git#egg=asyncio-redis_mrdon
Jinja2==2.7.2
MarkupSafe==0.18
PyJWT==0.1.9
aiohttp==0.6.4
asyncio==0.4.1
gunicorn==18.0
Markdown==2.4
pytz==2014.2
arrow==0.4.2
python-dateutil==2.2
six==1.6.1
